body {
  margin: 0;
  font-family: Calibri, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}
.main-input {
  border: none;
  border: 2px solid #80263b;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  width: 250px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
}
.main-button {
  border: none;
  border: 2px solid #80263b;
  background-color: #80263b;
  color: #ffffff;
  padding: 10px;
  outline: none;
  border-radius: 0 10px 10px 0;
  font-family: Calibri, sans-serif;
  font-size: 16px;
}
.main-error {
  color: #bd2d2d;
}
.group-owner--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group-owner--item {
  margin-bottom: 10px;
  border: none;
  border: 2px solid #80263b;
  outline: none;
  border-radius:10px;
  padding: 10px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  width: 100%;
}
.group-owner--button {
  border: none;
  border: 2px solid #80263b;
  background-color: #80263b;
  color: #ffffff;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  width: 30%;
}