body {
  margin: 0;
  font-family: Calibri, sans-serif;
  color: #575756;
  font-size: 16px;
  background-image: url(./img/layered-waves-haikei.svg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --main-grey:#9c9fa3;
  --main-border-radius: 5px 0 0 5px;
  --shadow-link: inset 0 1px 4px #11111124;
}

.g-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Group-container {
  width: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  animation: pop-in 1s forwards;
  background-color: #ffffff;
  border-radius: 10px;
}
.Group-container--info {
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
@keyframes pop-in {
  0% {
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
.ReturnToEdit-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.GlobalLink-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 28px;
  margin: 7px 0;
}
.g-link {
  display: block;
  background-color: #cfcaca28;
  border-radius: var(--main-border-radius);
  width: 100%;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  color: #494949;
  box-shadow: var(--shadow-link);
  font-size: 12px;
  border: none;
  outline: none;
}
.GlobalLink--button {
  display: block;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #b3b7bd;
  outline: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.UserProfile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.UserProfile__container--recipient {
  justify-content: start;
}
.UserProfile__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}